<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Contact Me</title>
</head>
<body>
    <header>
        <h1>Contact Me</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h2>Contact Information</h2>
        <p>If you would like to get in touch, feel free to reach out to me:</p>
        <p><b>Email:</b> <a href="mailto:your_email@gmail.com">email@student.hult.edu</a></p>
        <p><b>Phone Number:</b> (ddd) 111-1111</p> 
        <p><b>Linkedin:</b><a href="https://www.linkedin.com/in/kethlen-reis-49634a302/" target="_blank">Kethlen Reis Profile</a></p>

        <p>Thank you!</p>
    </main>
</body>
</html>