<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Kethlen Reis</title>
</head>
<body>
    <header>
        <h1>Kethlen Reis - Finance Major </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h2>Professional Summary</h2>
        <p>Aspiring finance and accounting student with an experienced track record and a diligent mindset.</p>
        <p>Strong focus on collaboration and achieving measurable results. Known for reliability,
            adaptability, and excellent communication skills. Proficient in utilizing banking software and
            delivering exceptional customer service. I am an individual with a multifaceted skillset who is
            eager to learn and bolster my professional experience.</p>

            <p><b>Education</b></p>
            <p> High School - 2021</p>
            <p>Hult International Business School 2024-2028 - Finance</p>

            <h2>Work Experience</h2>
            <p> <b>Caixa Economica Federal Bank - Belo Horizonte, Brazil</b> </p>
            <p>-Provided exceptional customer service</p>
            <p>-Processed Applications for new accounts</p>
            <p>-Maintained strict confidentiality of client information, upholding the bank's privacy standarts</p>
            <p> <b>Sales Manager</b> </p>
            <p>-Increased sales revenue by developing and implementing effective sale strategies.</p>
            <p>Negotiated contracts with vendors and suppliers, ensuring best pricing and terms for company profitability</p>
            <p> Built long-lasting client relationships through excellent customer service and consistent follow ups</p>
              <h2>Volunteer and Extracurricular Activities</h2>
              <p>President of the Hult Connect Club</p>
              <p>Head of Operations for Business in Fashion Club</p>
              <p> Volunteer for Susan G Koman Breast Cancer</p>
              <p>Volunteer at East End House Inc.</p>
              <p>Volunteer for the Boston Marathon</p>

              <h2>Languages</h2>
              <p>Portugues - Native, fluent</p>
              <p>English - Fluent </p>
              <p> Spanish Intermediate</p>
              <p>Chinese - Beginner </p>

              <h2>Skills</h2>
              <p>Problem Solving</p>
              <p>Time Management</p>
              <p>Digital Banking</p>
              <p>Teamwork</p>
              <p>Communication Skills</p>
              <p> Customer engagement</P>
              
    </main>
</body>
</html>